<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <title>Dnguyen-SPA :: @ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/underscore")
    @Scripts.Render("~/bundles/backbone")
    @Scripts.Render("~/bundles/clientSideMVC")
    @Scripts.Render("~/bundles/site.js")

    @RenderSection("scripts", required: false)
    
    @*-- Font Awesome --*@
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    @*-- Google Web Fonts --*@
    <link href='http://fonts.googleapis.com/css?family=Arvo:700' rel='stylesheet' type='text/css'>

</head>

    @*-- Utilizing HTML5 Semantic elements <section>, <article>, <nav>, <header>, <footer> and <aside>. --*@

<body>
    <div class="container">
        @*-- Header Section --*@
        <header class="header topNav">
            <ul class="nav nav-pills pull-left">
                @*using font-awesome icons*@
                <li><a href="#"><i class="fa fa-bars"> SECTIONS</i></a></li>
                <li><a href="#"><i class="fa fa-search"> SEARCH</i></a></li>
            </ul>
            <ul class="nav nav-pills pull-right">
                <li>
                    <a href="#">Duy Nguyen</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-gears"></i></a>
                </li>
            </ul>
            <h3 class="text-muted">&nbsp;</h3>
        </header>

        @*-- Center Header --*@
        <div class="centerHeader">
            <h2><a href="~/">CAPTECH.IO NEWS</a></h2>
            <p class="centerHeaderDate">@DateTime.Today.ToString("dddd, MMMM dd, yyyy")</p>
        </div>

        @*-- Category Menus --*@
        @*<div class="container">
            <ul class="nav nav-pills nav-justified">
                <li><a href="#">World</a></li>
                <li><a href="#">Business</a></li>
                <li><a href="#">Opinion</a></li>
                <li><a href="#">Sports</a></li>
                <li><a href="#">Fashion & Style</a></li>
                <li><a href="#">Video</a></li>
            </ul>
        </div>*@

        @*-- Here we build dynamically Category Menus.  This is Consumed by CategoryView.js --*@
        <div id="categoryMenu-container"></div>

        @*-- Banner --*@
        <div class="well expandableDiv" id="banner-container"></div>

        @*-- Content Page --*@
        @RenderBody()

        <footer class="footer">
            <p>&copy; Captech HTML5 / BackBone.js-Underscore.js/ Single-Web-Application / Bootstrap Challenge</p>
        </footer>

    </div> <!-- /container -->
    
    @*We move Underscore template files into a separate partial file for organizational purposes*@
    @Html.Partial("categoryMenu-template")
    @Html.Partial("content-template")
    @Html.Partial("home-template")
    @Html.Partial("banner-template")

</body>
</html>
